mixin date(date)
    .post-time
        != full_date(new Date(), 'dddd, MMMM Do YYYY')

mixin tag(tags)
    ul.post-tag-list
        - tags.each(function(tag) {
            li.post-tag-item
                a(href=config.root + tag.path).post-tag-link
                    != tag.name
        - })

mixin postInfo(item)
    .post-meta
        if item.tags && item.tags.length !== 0
            +tag(item.tags)
        +date(item.date)

mixin homePost()
    .home
        - page.posts.each(function(item, index) {
            if is_home() && index === 0
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                        .post-badge-wrap
                            .post-badge
                                span.post-badge-msg!= "Issue №"
                                span.post-num!= site.posts.length
                    .post-meta
                        +date(item.date)
                    .post-content
                        != item.excerpt
                    .read-more
                        a(href=config.root + item.path) 
                            != __('excerpt_link.title')
        - })

mixin archivePost()
    .archive
        ul.post-list
            - page.posts.each(function(item, index) {
                li.post-list-item
                    article.post-block
                        h2.post-title
                            a.post-title-link(href= url_for(item.path))
                                != item.title
                        +postInfo(item)
                        .post-content
                            != item.excerpt
            - })
        include ../_components/pagination

mixin postList(item)
    .post
        article.post-block
            h2.post-title
                a.post-title-link(href=url_for(item.path))
                    != item.title
            +postInfo(item)
            .post-content
                != item.content
        include ../_components/pagination
